.wrapper {
    display: flex;
}

.score {
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: white;
    padding: 1vh;
    height: fit-content;
    margin-top: .25vh;
}

.player {
    border-right: 1px solid white;
}