.paddle {
    --position: 50;

    top: calc(var(--position) *1vh);
    transform: translateY(-50%);
    position: absolute;
    background-color: aliceblue;
    width: 1vh;
    height: 10vh;
}

.left {
    left: 1vw;
}

.right {
    right: 1vw;
}